@import '../../colors.css';
@import '../../constants.css';

.card-container {
	z-index: 100;
	position: fixed;
	background-color: var(--card-color);
	cursor: move;
}

.card-hint {
	color: var(--text-color);
	margin: auto;
	text-align: center;
}